{%- extends "bootstrap/base.html" %}
<head>
   {% block styles %}
   {{super()}}
   <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.css')}}">
   <link rel="icon" type="image/png" href="static/cli.png">
   {% endblock %}
   {% block title %}
   {% if title %}
      {{ title }}
   {% else %}
      Fastcli
   {% endif %}
   {% endblock %}
   {% include 'nav.html' %}
</head>
<body>
   <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>
        </div>
      </div>
    </main>
</body>
