<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img class="navbar-brand" href="" src="/static/cli.png"></img>
    <div class="collapse navbar-collapse" id="navbarColor02">
       <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
             <a class="nav-link" href="/about">About</a>
          </li>
          {% if current_user.is_authenticated %}
            <li class="nav-item active">
               <a class="nav-link" href="/logout">Logout</a>
            </li>
            <li class="nav-item active">
               <a class="nav-link" href="/project">Project <span class="sr-only">(current)</span></a>
            </li>
            <!-- <li class="nav-item active">
               <a class="nav-link" href="/configure">Configuration <span class="sr-only">(current)</span></a>
            </li> -->
            <!-- <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
               <div class="dropdown-menu">
                 <a class="dropdown-item" href="/add_project">Action</a>
                 <a class="dropdown-item" href="#">Another action</a>
                 <a class="dropdown-item" href="#">Something else here</a>
                 <div class="dropdown-divider"></div>
                 <a class="dropdown-item" href="#">Separated link</a>
               </div>
             </li> -->
            <li class="nav-item active">
               <a class="nav-link" href="/add_project">Add New Project</a>
            </li>
          {% else %}
            <li class="nav-item active">
               <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item active">
               <a class="nav-link" href="/register">Register</a>
            </li>
          {% endif %}
       </ul>
    </div>
</nav>